.createButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #0056b3;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: 3px solid rebeccapurple;
}

.modalContent {
  border: 2px solid red;
  width: 953px;
  height: 604px;
  background-color: #fafafa;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  border: 3px solid green;
  margin-left: 40%;
}
.modalHeader > h3 {
  font-size: 20px;
  font-weight: 900;
}
.modalHeader > button {
  color: #0262c9;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.shareButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.shareButton:hover {
  background-color: #218838;
}

.fileInputContainer {
  margin-top: 100px;
  text-align: center;
}
.fileLabel {
  cursor: pointer;
}

.fileInput {
  display: none;
}
.addedImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.textAreaContainer {
  margin-top: 20px;
  padding: 50px;
}
.textArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}
